In [1]:
import pandas as pd
import datetime 
import numpy as np
import matplotlib.pyplot as plt
import re
import seaborn as sns
from functools import reduce

%matplotlib inline

In [2]:
price = pd.read_csv('../data/fuel_prices_prepped.csv', skiprows = 2)
#source: US Dept. of Energy/Energy Information Administration - https://www.eia.gov/outlooks/steo/tables/pdf/2tab.pdf

In [3]:
price

,Fuel type,20Q1,20Q2,20Q3,20Q4,21Q1,21Q2,21Q3,21Q4,22Q1,22Q2,22Q3,22Q4,20YEAR,21YEAR,22YEAR
0,Crude Oil (dollars per barrel),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,West Texas Intermediate Spot Average ............,45.34,27.96,40.89,42.50,58.09,66.19,70.61,75.96,69.66,67.15,66.01,62.98,39.17,67.87,66.42
2,Brent Spot Average ..............................,49.97,29.52,42.97,44.34,61.12,68.91,73.45,78.27,73.00,70.65,69.67,66.98,41.69,70.60,70.05
3,U.S. Imported Average ...........................,43.75,26.24,39.87,40.69,55.27,64.80,68.46,73.48,67.44,64.90,63.54,60.46,37.22,66.18,64.03
4,U.S. Refiner Average Acquisition Cost ...........,47.48,26.76,40.79,42.09,57.12,66.11,70.12,74.96,68.43,65.91,64.53,61.47,39.73,67.44,65.02
5,U.S. Liquid Fuels (cents per gallon),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Refiner Prices for Resale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Gasoline ........................................,153.00,104.00,137.00,133.00,180.00,216.00,232.00,239.00,213.00,213.00,209.00,191.00,133.00,218.00,206.00
8,Diesel Fuel .....................................,160.00,97.00,124.00,133.00,178.00,204.00,219.00,242.00,217.00,212.00,211.00,205.00,129.00,212.00,211.00
9,Fuel Oil ........................................,160.00,87.00,113.00,121.00,162.00,180.00,197.00,218.00,206.00,193.00,188.00,191.00,125.00,197.00,196.00
10,Refiner Prices to End Users,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Jet Fuel ........................................,165.00,85.00,116.00,125.00,163.00,182.00,199.00,232.00,213.00,210.00,208.00,203.00,131.00,197.00,208.00
12,No. 6 Residual Fuel Oil (a) .....................,177.00,93.00,116.00,119.00,162.00,181.00,194.00,184.00,163.00,160.00,154.00,148.00,126.00,181.00,156.00
13,Retail Prices Including Taxes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Gasoline Regular Grade (b) ......................,241.00,194.00,218.00,215.00,256.00,297.00,316.00,327.00,294.00,295.00,289.00,274.00,218.00,300.00,288.00
15,Gasoline All Grades (b) .........................,251.00,203.00,227.00,224.00,265.00,306.00,325.00,337.00,306.00,307.00,302.00,287.00,227.00,310.00,301.00
16,On-highway Diesel Fuel ..........................,289.00,243.00,243.00,247.00,290.00,321.00,336.00,362.00,329.00,316.00,317.00,313.00,256.00,328.00,319.00
17,Heating Oil .....................................,280.00,200.00,214.00,230.00,272.00,283.00,297.00,343.00,331.00,305.00,286.00,287.00,244.00,299.00,309.00
18,Natural Gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Henry Hub Spot (dollars per thousand cubic fee...,1.98,1.77,2.07,2.63,3.70,3.06,4.53,5.22,4.76,3.97,3.93,3.87,2.11,4.13,4.13
20,Henry Hub Spot (dollars per million Btu) .......,1.91,1.71,2.00,2.53,3.56,2.94,4.36,5.02,4.58,3.82,3.78,3.73,2.03,3.97,3.98
21,U.S. Retail Prices (dollars per thousand cubic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Industrial Sector ...............................,3.56,2.87,2.90,3.81,5.73,4.09,5.10,6.62,6.26,5.19,4.89,5.07,3.32,5.43,5.38
23,Commercial Sector ...............................,7.18,7.61,8.47,7.51,7.54,8.85,10.11,9.78,9.47,9.67,9.73,8.60,7.49,8.70,9.26
24,Residential Sector ..............................,9.44,11.74,17.50,10.53,9.75,13.87,20.36,13.97,12.40,14.57,18.63,11.68,10.76,12.36,12.93
25,U.S. Electricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Power Generation Fuel Costs (dollars per milli...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Coal ............................................,1.92,1.91,1.93,1.91,1.91,1.92,2.03,2.03,2.04,2.04,2.03,2.02,1.92,1.98,2.03
28,Natural Gas ....................................,2.39,2.09,2.28,2.87,7.24,3.26,4.36,5.28,5.16,4.05,3.97,4.08,2.40,4.94,4.27
29,Residual Fuel Oil (c) ...........................,12.14,6.66,8.84,8.92,11.28,13.08,14.21,14.17,13.69,13.95,12.99,12.52,9.15,13.21,13.26
30,Distillate Fuel Oil .............................,13.33,8.49,10.57,10.89,13.54,15.20,16.20,18.48,16.98,16.48,16.28,15.93,10.89,15.61,16.44
31,Retail Prices (cents per kilowatthour),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Industrial Sector ...............................,6.40,6.63,7.08,6.54,7.09,6.92,7.63,6.98,7.22,7.05,7.70,6.97,6.67,7.17,7.24
33,Commercial Sector ...............................,10.27,10.57,10.92,10.56,10.99,11.07,11.64,11.13,11.51,11.42,11.69,11.02,10.59,11.23,11.42
34,Residential Sector ..............................,12.87,13.19,13.31,13.21,13.10,13.84,14.00,13.82,13.91,14.53,14.51,14.18,13.16,13.69,14.29
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
price['Fuel type'] = price['Fuel type'].replace(' ','')

In [5]:
price.head()

,Fuel type,20Q1,20Q2,20Q3,20Q4,21Q1,21Q2,21Q3,21Q4,22Q1,22Q2,22Q3,22Q4,20YEAR,21YEAR,22YEAR
0,Crude Oil (dollars per barrel),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,West Texas Intermediate Spot Average ............,45.34,27.96,40.89,42.50,58.09,66.19,70.61,75.96,69.66,67.15,66.01,62.98,39.17,67.87,66.42
2,Brent Spot Average ..............................,49.97,29.52,42.97,44.34,61.12,68.91,73.45,78.27,73.00,70.65,69.67,66.98,41.69,70.60,70.05
3,U.S. Imported Average ...........................,43.75,26.24,39.87,40.69,55.27,64.80,68.46,73.48,67.44,64.90,63.54,60.46,37.22,66.18,64.03
4,U.S. Refiner Average Acquisition Cost ...........,47.48,26.76,40.79,42.09,57.12,66.11,70.12,74.96,68.43,65.91,64.53,61.47,39.73,67.44,65.02

In [6]:
price['Fuel type'].value_counts()

Industrial Sector ...............................................................         2
Commercial Sector ...........................................................             2
Residential Sector ............................................................           2
Crude Oil (dollars per barrel)                                                            1
Gasoline ..........................................................................       1
U.S. Retail Prices (dollars per thousand cubic feet)                                      1
Henry Hub Spot (dollars per million Btu)  .............................                   1
Heating Oil .......................................................................       1
U.S. Electricity                                                                          1
U.S. Imported Average ........................................................            1
Gasoline Regular Grade (b) ..............................................                 1
Distillate Fuel Oil ..............................................................        1
Coal .................................................................................    1
Brent Spot Average .............................................................          1
Natural Gas                                                                               1
Gasoline All Grades (b) ....................................................              1
Power Generation Fuel Costs (dollars per million Btu)                                     1
Refiner Prices to End Users                                                               1
West Texas Intermediate Spot Average ..............................                       1
Refiner Prices for Resale                                                                 1
U.S. Liquid Fuels (cents per gallon)                                                      1
On-highway Diesel Fuel ...................................................                1
Jet Fuel ............................................................................     1
Residual Fuel Oil (c) .........................................................           1
Retail Prices (cents per kilowatthour)                                                    1
Fuel Oil ............................................................................     1
No. 6 Residual Fuel Oil (a) ...............................................               1
Henry Hub Spot (dollars per thousand cubic feet) ................                         1
Natural Gas  .....................................................................        1
Diesel Fuel .......................................................................       1
Retail Prices Including Taxes                                                             1
U.S. Refiner Average Acquisition Cost ................................                    1
Name: Fuel type, dtype: int64

In [7]:
price_relevant = price[price['Fuel type'].isin([
    'On-highway Diesel Fuel ...................................................',
    'Jet Fuel ............................................................................',
    'No. 6 Residual Fuel Oil (a) ...............................................'])]

In [8]:
price_relevant['Fuel type'] = price_relevant['Fuel type'].replace({
    'On-highway Diesel Fuel ...................................................': 'Diesel',
    'Jet Fuel ............................................................................':'Jet Fuel',
    'No. 6 Residual Fuel Oil (a) ...............................................':'Heavy Fuel Oil'})

<ipython-input-8-720b2b69c8ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_relevant['Fuel type'] = price_relevant['Fuel type'].replace({

In [9]:
price_relevant

,Fuel type,20Q1,20Q2,20Q3,20Q4,21Q1,21Q2,21Q3,21Q4,22Q1,22Q2,22Q3,22Q4,20YEAR,21YEAR,22YEAR
11,Jet Fuel,165.0,85.0,116.0,125.0,163.0,182.0,199.0,232.0,213.0,210.0,208.0,203.0,131.0,197.0,208.0
12,Heavy Fuel Oil,177.0,93.0,116.0,119.0,162.0,181.0,194.0,184.0,163.0,160.0,154.0,148.0,126.0,181.0,156.0
16,Diesel,289.0,243.0,243.0,247.0,290.0,321.0,336.0,362.0,329.0,316.0,317.0,313.0,256.0,328.0,319.0

In [10]:
price_relevant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 11 to 16
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fuel type  3 non-null      object
 1   20Q1       3 non-null      float64
 2   20Q2       3 non-null      float64
 3   20Q3       3 non-null      float64
 4   20Q4       3 non-null      float64
 5   21Q1       3 non-null      float64
 6   21Q2       3 non-null      float64
 7   21Q3       3 non-null      float64
 8   21Q4       3 non-null      float64
 9   22Q1       3 non-null      float64
 10  22Q2       3 non-null      float64
 11  22Q3       3 non-null      float64
 12  22Q4       3 non-null      float64
 13  20YEAR     3 non-null      float64
 14  21YEAR     3 non-null      float64
 15  22YEAR     3 non-null      float64
dtypes: float64(15), object(1)
memory usage: 408.0+ bytes

In [11]:
#dropping first column so i can do math on all remaining columns
price_relevant= price_relevant.drop('Fuel type', 1)

In [12]:
#converting all columns to dollar amounts - x.01 = price per gallon
price_relevant = price_relevant.mul([.01,.01,.01], axis=0)

In [13]:
#returning first column to df
price_relevant.insert(0,'Fuel type',['Jet Fuel','Heavy Fuel Oil', 'Diesel'], True)

In [14]:
price_relevant

,Fuel type,20Q1,20Q2,20Q3,20Q4,21Q1,21Q2,21Q3,21Q4,22Q1,22Q2,22Q3,22Q4,20YEAR,21YEAR,22YEAR
11,Jet Fuel,1.65,0.85,1.16,1.25,1.63,1.82,1.99,2.32,2.13,2.10,2.08,2.03,1.31,1.97,2.08
12,Heavy Fuel Oil,1.77,0.93,1.16,1.19,1.62,1.81,1.94,1.84,1.63,1.60,1.54,1.48,1.26,1.81,1.56
16,Diesel,2.89,2.43,2.43,2.47,2.90,3.21,3.36,3.62,3.29,3.16,3.17,3.13,2.56,3.28,3.19

In [15]:
price_relevant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 11 to 16
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fuel type  3 non-null      object
 1   20Q1       3 non-null      float64
 2   20Q2       3 non-null      float64
 3   20Q3       3 non-null      float64
 4   20Q4       3 non-null      float64
 5   21Q1       3 non-null      float64
 6   21Q2       3 non-null      float64
 7   21Q3       3 non-null      float64
 8   21Q4       3 non-null      float64
 9   22Q1       3 non-null      float64
 10  22Q2       3 non-null      float64
 11  22Q3       3 non-null      float64
 12  22Q4       3 non-null      float64
 13  20YEAR     3 non-null      float64
 14  21YEAR     3 non-null      float64
 15  22YEAR     3 non-null      float64
dtypes: float64(15), object(1)
memory usage: 408.0+ bytes

In [17]:
price_viz1 = price_relevant.drop(['20YEAR','21YEAR','22YEAR'], axis=1)

In [18]:
price_viz2 = price_relevant[['Fuel type','20YEAR','21YEAR','22YEAR']]

In [19]:
#setting the size of my visuals
sns.set(rc={"figure.figsize":(13, 8)},font_scale=1.5, style='darkgrid')

In [20]:
#to show the values of the data on my graph:

def show_values(axs, orient="v", space=.01):
    def _single(ax):
        if orient == "v":
            for p in ax.patches:
                _x = p.get_x() + p.get_width() / 2
                _y = p.get_y() + p.get_height() + (p.get_height()*0.01)
                value = '{:.1f}'.format(p.get_height())
                ax.text(_x, _y, value, ha="center") 
        elif orient == "h":
            for p in ax.patches:
                _x = p.get_x() + p.get_width() + float(space)
                _y = p.get_y() + p.get_height() - (p.get_height()*0.5)
                value = '{:.1f}'.format(p.get_width())
                ax.text(_x, _y, value, ha="left")

    if isinstance(axs, np.ndarray):
        for idx, ax in np.ndenumerate(axs):
            _single(ax)
    else:
        _single(axs)

In [ ]:
'''a = sns.lineplot(data = price_viz1, x = '', y = '', hue = '')
a.set(xlabel = '', ylabel = '')
a.set_title('')'''

In [21]:
price_viz1

,Fuel type,20Q1,20Q2,20Q3,20Q4,21Q1,21Q2,21Q3,21Q4,22Q1,22Q2,22Q3,22Q4
11,Jet Fuel,1.65,0.85,1.16,1.25,1.63,1.82,1.99,2.32,2.13,2.10,2.08,2.03
12,Heavy Fuel Oil,1.77,0.93,1.16,1.19,1.62,1.81,1.94,1.84,1.63,1.60,1.54,1.48
16,Diesel,2.89,2.43,2.43,2.47,2.90,3.21,3.36,3.62,3.29,3.16,3.17,3.13

In [ ]:
'''b = sns.barplot(data=price_viz2, x='Fuel type', y='Pounds CO2 ')
b.set(xlabel = 'Type of Fuel')
b.set_title('CO2 Emissions per Gallon of Fuel')

show_values(b)'''

In [22]:
price_viz2

         Fuel type  20YEAR  21YEAR  22YEAR
11        Jet Fuel    1.31    1.97    2.08
12  Heavy Fuel Oil    1.26    1.81    1.56
16          Diesel    2.56    3.28    3.19