In [1]:
import pandas as pd
import datetime 
import numpy as np
import matplotlib.pyplot as plt
import re
import seaborn as sns

%matplotlib inline

In [6]:
ship = pd.read_csv('../data/fuel_consumption_by_ship_size_prepped.csv')
#source: The Geography of Transport Systems- https://transportgeography.org/contents/chapter4/transportation-and-energy/fuel-consumption-containerships/
#converted to data with:  http://getdata-graph-digitizer.com/

truck = pd.read_csv('../data/mpg_trucks.csv')
#source: US Energey Information Administration - https://www.eia.gov/totalenergy/data/browser/?tbl=T01.08

uk_trucks = pd.read_csv('../data/mpg_trucks2.csv')
#source: Data.gov.uk: Leeds City Council - https://ckan.publishing.service.gov.uk/dataset/fleet-vehicles-fuel-consumption/resource/f6531c40-c5f0-42e4-af40-a19998d6ab93

In [7]:
ship.head()

,Ship Size (TEU),Speed- Knots,Fuel Consumption - Tons per Day,Speed-MPH,Fuel Consumption - Gallons per day,Fuel Consumption- Gallons/hour,MPG,Gallons per mile
0,"10,000+",17.48,103.56,20.102576,77468.63057,3227.859607,0.006228,160.569452
1,"10,000+",17.55,105.62,20.185889,79011.10832,3292.129514,0.006132,163.090634
2,"10,000+",17.66,108.71,20.304878,81322.85500,3388.452292,0.005992,166.878729
3,"10,000+",17.74,109.77,20.400366,82111.82351,3421.325979,0.005963,167.709047
4,"10,000+",17.79,110.81,20.459967,82888.97226,3453.707177,0.005924,168.803168

In [3]:
truck.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,PCMIRUS,194913,9388,1,"Light-Duty Vehicles, Short Wheelbase Mileage",Miles per Vehicle
1,PCMIRUS,195013,9060,1,"Light-Duty Vehicles, Short Wheelbase Mileage",Miles per Vehicle
2,PCMIRUS,195113,9186,1,"Light-Duty Vehicles, Short Wheelbase Mileage",Miles per Vehicle
3,PCMIRUS,195213,9360,1,"Light-Duty Vehicles, Short Wheelbase Mileage",Miles per Vehicle
4,PCMIRUS,195313,9377,1,"Light-Duty Vehicles, Short Wheelbase Mileage",Miles per Vehicle

In [5]:
uk_trucks.head()

,Number,Registration,Details,Product,Odometer,Distance,Unit,MPG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001,U1,Jaguar XJL Portfolio V6 D Limousine,Diesel,66089.0,4140.0,Miles,24.10
2,0012,FL65FBA,Vauxhall CORSA CDTI Car,Diesel,6075.0,1958.0,Miles,45.10
3,0013,MJ16XMY,Vauxhall Mokka 4x4 Utility Vehicle,Diesel,21650.0,5060.0,Miles,43.73
4,0018,YD16NAK,Peugeot 308 Car Car,Diesel,64740.0,42009.0,Miles,53.23